### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
player_count = len(purchase_data["SN"].unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
Unique_items = len(purchase_data["Item Name"].unique())
Average_price = purchase_data["Price"].mean()
Total_purchased = len(purchase_data["Item Name"].unique())
Total_Revenue = purchase_data["Price"].sum()

Total_Revenue

Summary_table = pd.DataFrame({"Number of Unique Items": Unique_items,
                             "Average Purchase Price": [Average_price],
                             "Total Number of Purchases": [Total_purchased],
                             "Total Revenue": [Total_Revenue]})
Summary_table

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [6]:
#Player_gender = purchase_data["Gender"].value_counts()
#Player_gender

fullcount = purchase_data["SN"].count()
malecount = purchase_data[purchase_data["Gender"] == "Male"]["SN"].count()
femalecount = purchase_data[purchase_data["Gender"] == "Female"]["SN"].count()
othercount = (fullcount - malecount - femalecount)
#femalecount, malecount, fullcount, othercount

total_count = pd.DataFrame ({"Gender": [malecount, femalecount, othercount]})
#columns = (['Gender', 'Total Count'])


maleperc = ((malecount/fullcount)*100)
femaleperc = ((femalecount/fullcount)*100)
otherperc = ((othercount/fullcount)*100)

maleperc, femaleperc, otherperc

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [maleperc, femaleperc, otherperc],
                                       "Total Count": [malecount, femalecount, othercount]}, columns = 
                                      ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [7]:
totalpurchases = purchase_data['Price'].count()
malepurch = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
femalepurch = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()


otherpurch = totalpurchases - malepurch - femalepurch

mpriceavg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
fpriceavg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
opriceavg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
mpricetot = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
fpricetot = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
opricetot = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
mnorm = mpricetot/malecount
fnorm = fpricetot/femalecount
onorm = opricetot/othercount

gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [malepurch, femalepurch, otherpurch],
                                        "Average Purchase Price": [mpriceavg, fpriceavg, opriceavg], "Total Purchase Value": [mpricetot, fpricetot, opricetot],
                                "Normalized Totals": [mnorm, fnorm, onorm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [23]:


bins = [0,7, 19, 29, 39, 45]
Age_range = ["Youth", "Teens", "20's", "30's", "40's"]

Age_range
pd.cut(purchase_data["Age"], bins, labels =Age_range).head()

0    20's
1    40's
2    20's
3    20's
4    20's
Name: Age, dtype: category
Categories (5, object): [Youth < Teens < 20's < 30's < 40's]

In [24]:
purchase_data["View Group"] = pd.cut(purchase_data["Age"], bins, labels=Age_range)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20's
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40's
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20's
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20's
4,4,Iskosia90,23,Male,131,Fury,1.44,20's

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame